.footer {
  padding-top: 67px;
  padding-bottom: 60px;
}

.footer__title {
  color: #545454;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
}

@media screen and (max-width: 669px) {
  .footer__title {
    font-size: 14px;
    line-height: 16.94px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    margin: 48px 19px 27px 19px;
    padding: 0;
  }

  .footer__title {
    font-size: 14px;
    line-height: 16.94px;
  }
}
