.footer {
  padding-top: 48px;
  padding-bottom: 36px;
}

.footer__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  margin: 0;
  opacity: 0.3;
}
