.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px #ffff;
  cursor: url(../images/Cursor_1.svg) 1 2, pointer;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button {
  background: transparent url(../images/Plus-Vector.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border-radius: 2px;
  border: 2px solid #ffff;
  padding-bottom: 36px;
  cursor: url(../images/Cursor_1.svg) 1 2, pointer;
}

.profile__add-button:hover {
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  grid-area: title;
  max-width: 373px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
  grid-area: description;
}

.profile__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 24px;
}

@media screen and (max-width: 800px) {
  .profile__title {
    font-size: 38px;
    max-width: 350px;
    text-overflow: clip;
  }

  .profile__add-button {
    width: 50px;
  }
}

@media screen and (max-width: 669px) {
  .profile {
    flex-direction: column;
    align-content: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__title {
    font-size: 20px;
    padding: 0 15px 0;
    text-align: center;
    max-width: 192px;
    margin-bottom: 10px;
    margin: 0;
  }

  .profile__edit-button {
    background: transparent url(../images/Edit\ Button-mobile.svg) center
      no-repeat;
    margin: 0;
    width: 18px;
    height: 18px;
    border: 1px #ffff solid;
    padding: 0;
  }

  .profile__add-button {
    width: 282px;
    margin: 0;
    margin-bottom: 36px;
    padding: 0;
  }

  .profile__photo {
    margin: 0 0 10px;
  }

  .profile__description {
    font-size: 14px;
    text-align: center;
    width: 100%;
    margin-bottom: 36px;
  }
}
